@use "../../styles/variables" as *;


.search-box {
  position: relative;

  &__input {
    width: 15rem;
    height: 2.5rem;
    position: relative;
    border-radius: 8px;
    background-color: $colour-primary-light-searchbar;
    border: none;

    &-icon {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}
