.search-box {
  position: relative;

  &__input {
    width: 242px;
    height: 40px;
    position: relative;
    border-radius: 8px;
    background-color: rgba(55, 175, 162, 0.04);
    border: none;

    &--icon {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}
