@use "../../styles/variables" as *;

.button {
  padding: 15px 38px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;

  &--squared {
    border-radius: 0;
  }

  &--primary {
    background-color: $colour-primary;
    > * {
      color: $colour-secondary;
      font-weight: bold;
    }
  }

  &--secondary {
    background-color: transparent;
    border: 2px solid $colour-primary;
    > * {
      color: $colour-primary;
    }
  }
  &--link {
    padding: 0;
    > * {
      display: flex;
      white-space: nowrap;
      padding: 15px 38px;
      text-decoration: none;
      overflow-wrap: none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
