@use "../../styles/variables" as *;

.card-label {
  background-color: $colour-secondary-background;
  padding: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 40px;
  font-size: $font-size-tiny;
  &__text {
    color: $colour-font-label;
  }
}
