@use "../../styles/variables" as *;

.card-label {
  background-color: $colour-secondary-background;
  padding: 0.5rem;
  border-radius: 40px;
  font-size: 0.7rem;
  &__text {
    color: $colour-tertiary;
  }
}
