@use "../../styles/variables" as *;

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .hero-certifications {
    grid-column-start: 2;
    display: flex;
  }

  .hero-content {
    align-self: center;
    padding-top: 3rem;
    padding-left: 7rem;
    &__header {
      font-family: $font-header;
      font-size: $font-size-h2;
      font-weight: 400;

      position: relative;
      margin-bottom: 40px;

      &-highlight {
        display: inline;
        color: $colour-primary;
        font-family: inherit;
        font-size: inherit;

        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          height: 0.6rem;
          width: 100%;
          background-image: url("../../assets/svgs/underline.svg");
          background-repeat: no-repeat;
          background-size: cover;
          z-index: -1;
        }
      }
    }

    &__subheader {
      font-size: 1.25rem;
      line-height: 150%;
      font-family: $font-general;
      color: hsla(259, 12%, 45%, 1);
      margin-bottom: 60px;
    }
  }
  .hero-image {
    display: flex;
    padding-top: 8rem;
    padding-bottom: 6rem;
    background: linear-gradient(
      to right,
      transparent 15%,
      rgba(108, 168, 162, 0.2) 15%,
      rgba(55, 175, 162, 0.2) 85%,
      transparent 85%
    );
    &__image {
      width: 100%;
    }
  }
}

@media screen and (max-width: $desktop-breakpoint) {
  .hero {
    grid-template-columns: 1fr;

    .hero-content {
      text-align: center;
      padding-left: 5rem;
      padding-right: 5rem;
      &__header {
        font-size: $font-size-h2-desktop;
        margin-bottom: 26px;
      }
    }

    .hero-image {
      margin: 2rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .hero {
    .hero-image {
      background: none;
      padding: 0;
      margin: 0;
      &__image {
        display: none;
      }
    }
  }
}
