@use "../../styles/variables" as *;

.hero {
  &__header {
    font-family: $font-header;
    font-size: $font-size-h2;
    font-weight: 400;

    position: relative;

    &-highlight {
      color: $colour-primary;
      font-family: inherit;

      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        height: 0.6rem;
        width: 100%;
        background-image: url("../../assets/svgs/underline.svg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
      }
    }
  }

  &__subheader {
    font-size: 1.25rem;
    line-height: 150%;
    font-family: $font-general;
    color: hsla(259, 12%, 45%, 1);
    margin-bottom: 60px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .hero {
    &__header {
      font-size: $font-size-h2-desktop;
    }
  }
}
