@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

// Colours
$colour-primary: hsla(173, 52%, 45%, 1);
$colour-secondary: white;
$colour-secondary-teal: #E4F5F3;
$colour-primary-dark-grey: #525252;



// Fonts
$font-header: "Raleway", sans-serif;
$font-general: "Lato", sans-serif;
