@use "../../styles/variables" as *;

.mission-section {
  background-color: rgba($colour-primary, 0.1);
  padding: 2rem;
  border-radius: 8px;
  padding-top: 7rem;
  background-size: auto;
  &__heading {
    font-size: $font-size-medium;
    margin-bottom: 2rem;
    line-height: 1.1;
  }
  &__about-us {
    margin-bottom: 2rem;
    line-height: 2;
  }
  .link-container {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  .mission-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background: linear-gradient(
      to right,
      transparent 15%,
      rgba($colour-primary, 0.1) 15%,
      rgba($colour-primary, 0.1) 85%,
      transparent 85%
    );

    &__heading {
      text-align: center;
      margin-left: 30%;
      margin-top: 2.5rem;
    }
    &__about-us {
      font-size: $font-size-smaller;
      margin-top: 2rem;
      margin-right: 30%;
      grid-column-start: 2;
      grid-column-end: 4;
    }

    .link-container {
      grid-column-start: 2;
      margin-bottom: 1rem;
    }
  }
}
