@use "../../styles/variables" as *;

.faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 4rem 0;
}
.header {
  
  &__heading{
    font-size: $font-size-large;
    margin-top: 3rem;
  }

  &__subheading{
    margin-bottom: 4.3rem;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
.header {
  &__heading{
    font-size: $font-size-larger;
  }
  &--alternative{
    margin-bottom: 6.25rem;
    padding-top: 0;
  }
}
}