@use "../../styles/_variables.scss" as *;

.filters-dropdown {
  position: relative;

  &__menu {
    border: solid 1px $colour-secondary-background;
    background-color: $colour-secondary;
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    width: max-content;
    z-index: 1;
    padding: 2rem 3rem 1rem;
    border-radius: 0.5rem;
  }

  &__cross {
    background-color: transparent;
    border-style: none;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      cursor: pointer;
    }
  }

  &__heading {
    font-size: $font-size-smallest;
    font-family: $font-general;
    color: $colour-font-general;
  }

  &__filter-options {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  &__label {
    font-size: $font-general;
    font-family: $font-general;
    color: $colour-font-paragraph;
  }

  &__input {
    margin: 0.5rem;
    margin-left: 0;
    border: solid 1px $colour-secondary-background;
    background-color: transparent;
  }

  &__input:checked {
    color: $colour-primary;
  }

  &__button {
    border: solid 1px $colour-secondary-background;
    background-color: $colour-secondary;
    padding: 1rem;
    border-radius: 0.5rem;

    &-image {
      margin-left: 0.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
