@use "../../styles/_variables.scss" as *;

.category-filter-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &__filter-option {
    cursor: pointer;
    font-size: $font-size-general;
    color: $colour-quatenary;
    font-weight: $font-filter-weight;

    &--selected {
      color: $colour-font-general;
    }
  }
}
