@use "../../styles/_variables" as *;

.arrow-link {
  color: $colour-primary;
  font-size: $font-size-default;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

@media screen and (min-width: $tablet-breakpoint) {
  .arrow-link {
    font-size: $font-size-smaller;
  }
}
