@use "../../styles/variables" as *;

.about-us-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  padding: 2rem;

  &__image {
    width: 100%;
    max-width: 430px;
  }
  &__text {
    color: $colour-font-paragraph;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .about-us-header {
    &__image {
      max-width: 540px;
      padding-right: 5rem;
    }
    &__content {
      max-width: 45%;
      padding-left: 5rem;
    }
  }
}
