@use "../../styles/variables" as *;

.certifications {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 4rem;

  &__header {
    font-size: $font-size-medium;
    margin-bottom: 2rem;
    line-height: 1.1;
  }

  &__description {
    margin-bottom: 2rem;
    line-height: 2;
    font-size: $font-size-smaller;
    color: $colour-tertiary;
    max-width: 38rem;

    &--highlighted-text {
      color: $colour-primary;
      font-weight: 700;
      text-decoration: underline;
      text-underline-offset: 0.2rem;
      font-size: $font-size-smaller;
    }
  }

  &__badge-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 578px;
    gap: 10px;
    .certifications__badge {
      width: 60px;
      image-rendering: -webkit-optimize-contrast;
    }
  }
}

@media screen and (min-width: 460px) {
  .certifications__badge-container {
    justify-content: space-around;

    &__img {
      width: auto;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .certifications {
    text-align: center;
  }
  .certifications__badge-container {
    .certifications__badge {
      width: 5.7rem;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .certifications__badge-container {
    .certifications__badge {
      width: 80px;
    }
  }

  @media screen and (min-width: $large-desktop-breakpoint) {
    .certifications__badge-container {
      .certifications__badge {
        width: 100px;
      }
    }
  }
}
