@use "../../styles/variables" as *;

.certifications {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;

  &__header {
    font-size: $font-size-h2;
    margin-bottom: 2rem;
    line-height: 1.1;
  }

  &__description {
    margin-bottom: 2rem;
    line-height: 2;
    font-size: 1.25rem;
    color: $colour-tertiary;

    &--highlighted-text {
      color: $colour-primary;
      font-weight: 700;
      text-decoration: underline;
      text-underline-offset: 0.2rem;
      font-size: 1.25rem;
    }
  }

  &__badge-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 578px;
    .certifications__badge {
      margin: 0px 10px;
      width: 60px;
    }
  }
}

@media screen and (min-width: 460px) {
  .certifications__badge-container {
    justify-content: space-around;

    &__img {
      margin: 0px 19px;
      width: auto;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .certifications {
    text-align: center;
  }
  .certifications__badge-container {
    .certifications__badge {
      margin: 0px 19px;
      width: 5.7rem;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .certifications {
    max-width: 39.75rem;
  }
  .certifications__badge-container {
    width: 39.75rem;
    .certifications__badge {
      width: 100px;
    }
  }
}
