@use "../../styles/variables" as *;
.course-card{
    background-color:$colour-secondary-teal;
    width: 100%;
    height:100%;
    box-shadow: 1px 1px 3px $colour-primary-dark-grey;
    border-radius: 5%;
    &__img{
        width:20rem;
    }
    .course-content{
        background-color: $colour-secondary;
        padding:1rem;
        height: 33%;
        border-radius: 5%;
        width:100%;
        
        &__type{
            color:$colour-primary;
            font-family: $font-general;
        }
        &__heading{
            margin-bottom:1rem;
            font-family: $font-header;
        }
        &__labels{
                
            color:$colour-primary-dark-grey;
            background-color: $colour-secondary-teal;
            border-radius:40px;
            //border: 1px solid $colour-secondary-teal;
            margin-right:1rem;
            font-size:0.5rem;
            font-family: $font-general;
            padding:0.5rem;


        }
    }
}