@use "../../styles/variables" as *;

.landing-container {
  background: linear-gradient(
    to bottom,
    rgba(55, 175, 162, 0.06) 75%,
    transparent 25%
  );
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  &__paw {
    display: none;
  }

  &__header {
    font-family: $font-header;
    font-size: $font-size-large;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__paragraph {
    margin-bottom: 3rem;
    font-size: $font-size-smaller;
    color: $colour-font-paragraph;
    line-height: 1.8;
  }

  &__button {
    margin-bottom: 3rem;
  }
  &__image {
    max-width: 22rem;
    width: 100%;
    margin-top: 3rem;
    align-self: center;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .landing-container {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;

    &__paw {
      display: inline;
      width: 60px;
      height: 60px;
    }

    &__header {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 3.75rem;
      grid-column-start: 1;
      grid-column-end: -1;
    }

    &__paragraph {
      grid-column-start: 1;
      grid-column-end: -1;
    }

    &__button {
      grid-column: 1;
    }

    &__image {
      grid-column: 2;
      width: 100%;
      margin-top: 0;
    }
  }
  .landing-container--flipped {
    .landing-container__image {
      grid-column: 1;
      grid-row-start: 4;
    }
    .landing-container__button {
      grid-column: 2;
      justify-self: flex-end;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .landing-container {
    grid-template-rows: 1fr 1fr 2fr 1fr;
    max-width: 1250px;
    padding: 5rem;
    background: linear-gradient(
      to left,
      $colour-container-foreground 85%,
      transparent 15%
    );

    &__image {
      grid-column: 1;
      grid-row-start: 1;
      grid-row-end: 5;
      width: 80%;
      align-self: center;
      max-width: initial;
    }

    &__paw {
      grid-column: 2;
      grid-row: 1;
      align-self: flex-end;
      margin-bottom: 1rem;
    }

    &__header {
      grid-column: 2;
      margin: 0;
    }

    &__paragraph {
      grid-column: 2;
      margin: auto 0;
    }

    &__button {
      grid-column: 2;
      margin: auto 0;
    }
  }

  .landing-container--flipped {
    background: linear-gradient(
      to right,
      $colour-container-foreground 85%,
      transparent 15%
    );

    .landing-container__image {
      grid-column: 2;
      grid-row-start: 1;
      justify-self: flex-end;
    }

    .landing-container__paw,
    .landing-container__header,
    .landing-container__paragraph,
    .landing-container__button {
      grid-column: 1;
      justify-self: normal;
    }
  }
} ;
