@use "../../styles/variables" as *;

.hero {
  max-width: 546px;

  &__header {
    font-family: $font-header;

    font-size: 4rem;
    font-weight: 400;

    margin-bottom: 1.625rem;

    &-highlight {
      color: $colour-primary;
      position: relative;
      font-family: inherit;
    }
  }

  &__subheader {
    font-size: 1.25rem;
    line-height: 150%;
    font-family: $font-general;
    color: hsla(259, 12%, 45%, 1);
  }

  .button {
    margin-top: 60px;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .hero {
    &__header {
      font-size: 3.125rem;
      margin-bottom: 2.5rem;
    }
  }
}
