.certificate-badges {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;

  &__img {
    margin: 0px 19px;
    width: auto;
    height: 70px;
  }
}
